<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create</title>
    <!-- CSS files -->
    <link href="/stylesheets/css/tabler.min.css" rel="stylesheet" />
    <link href="/stylesheets/css/tabler-flags.min.css" rel="stylesheet" />
    <link href="/stylesheets/css/tabler-payments.min.css" rel="stylesheet" />
    <link href="/stylesheets/css/tabler-vendors.min.css" rel="stylesheet" />
    <link href="/stylesheets/css/demo.min.css" rel="stylesheet" />
    <link href="/stylesheets/css/customize.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

  </head>
  <body>
    <!-- admin nav start  -->
    <div class="mb-2">
      <header class="navbar navbar-expand-md navbar-dark d-print-none">
        <div class="container-xl">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbar-menu"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <h1
            class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3"
          >
            <a href="/admin"> Easy Vote </a>
          </h1>
          <div class="navbar-nav flex-row order-md-last">
            <a
              href="?theme=dark"
              class="nav-link px-0 hide-theme-dark"
              title="Enable dark mode"
              data-bs-toggle="tooltip"
              data-bs-placement="bottom"
            >
              <!-- Download SVG icon from http://tabler-icons.io/i/moon -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path
                  d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z"
                />
              </svg>
            </a>
            <a
              href="?theme=light"
              class="nav-link px-0 hide-theme-light"
              title="Enable light mode"
              data-bs-toggle="tooltip"
              data-bs-placement="bottom"
            >
              <!-- Download SVG icon from http://tabler-icons.io/i/sun -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <circle cx="12" cy="12" r="4" />
                <path
                  d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7"
                />
              </svg>
            </a>
            <div class="nav-item dropdown d-none d-md-flex me-3"></div>
            <div class="nav-item dropdown">
              <a
                href="#"
                class="nav-link d-flex lh-1 text-reset p-0"
                data-bs-toggle="dropdown"
                aria-label="Open user menu"
              >
                <span
                  class="avatar avatar-sm"
                  style="background-image: url(../images/svg/admin-profile.svg)"
                ></span>
              </a>
              <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <span>
                  <img
                  style="margin-left: 10px;"
                    src="../images/svg/admin-user-name.svg"
                    alt="Name"
                    width="20px"
                  />
                  Admin
                </span><br>
                <span>
                  <img
                    style="margin-left: 10px;"
                    src="../images/svg/admin-user-mail.svg"
                    alt="Mail"
                    width="20px"
                  />
                 admin@gmail.com
                </span>
                <div class="dropdown-divider"></div>
                <a href="/admin/change-password" class="dropdown-item">Change Password</a>
                <a href="/admin/logout" class="dropdown-item">Logout</a>
              </div>
            </div>
          </div>
          <div class="collapse navbar-collapse" id="navbar-menu">
            <div
              class="d-flex flex-column flex-md-row flex-fill align-items-stretch align-items-md-center"
            >
              <ul class="navbar-nav">
                <li class="nav-item ">
                  <a class="nav-link" href="/admin">
                    <span class="nav-link-title"> Dashboard </span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/admin/king-queen">
                    <span class="nav-link-title">King & Queen selection</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/admin/project">
                    <span class="nav-link-title">Project Competition</span>
                  </a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link" href="/admin/other">
                    <span class="nav-link-title">Other</span>
                  </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/admin/create">
                      <span class="nav-link-title">Create</span>
                    </a>
                  </li>
              </ul>
            </div>
          </div>
        </div>
      </header>
    </div>
    <!-- admi nav end  -->
 
    <div class="container-xl" style="margin-top: 40px;">
        <div class="card">
            <form action="/admin/create" method="post" enctype="multipart/form-data">
                <h2 class="care-title" style="margin: 20px;">Create New Campaign</h2>
                <div class="card" style="padding: 20px;">
                    <div class="row">
                      <div class="mb-3 col-6">
                        <label class="form-label required" style="margin-left: 10px;">Name</label>
                        <input
                          type="text"
                          class="form-control"
                          name="title"
                          placeholder="Your campaign name"
                          required
                        />
                      </div>
                      <div class="mb-3 col-6">
                        <label class="form-label required" style="margin-left: 10px;">
                          End Date</label>
                        <input
                          type="datetime-local"
                          class="form-control"
                          name="endDate"
                          placeholder="Select End Date"
                          required
                        />
                      </div>
                    </div>
                      <div class="row">
                        <div class="mb-3 col-6">
                          <div class="form-label required" style="margin-left: 10px;">Select</div>
                          <select name="select" class="form-select"  required>
                            <option value="1">King & Queen selection</option>
                            <option value="2">Project Competition</option>
                            <option value="3">Other</option>
                          </select>
                        </div>
                        <div class="mb-3 col-6">
                          <div class="form-label required" style="margin-left: 10px;">Choose your image</div>
                          <input name="image"  type="file" class="form-control" accept="image/*" required/>
                        </div>
                      </div>
                      <div>
                        <label class="form-label" style="margin-left: 10px;">Description</label>
                        <textarea name="description" class="form-control" rows="3"></textarea>
                      </div>
                      <div class="row" style="margin: 10px;">
                        <div class="col-6">
                            <a
                            href="/admin"
                            class="btn btn-link link-secondary"
                            >
                            Cancel
                            </a>
                        </div>
                        <div class="col-6" style="text-align:end">
                            <input type="submit" class="btn btn-primary" value="upload">
                        </div>
                      </div>
                </div>
            </form>
        </div>
    </div>
     
      <!-- footer start  -->
    <footer class="footer footer-transparent d-print-none">
      <div class="container-xl">
        <div class="row text-center align-items-center flex-row-reverse">
          <div class="col-lg-auto ms-lg-auto">
            <ul class="list-inline list-inline-dots mb-0">
              <li class="list-inline-item">
                <a href="./docs/index.html" class="link-secondary"
                  >Documentation</a
                >
              </li>
              <li class="list-inline-item">
                <a href="./license.html" class="link-secondary">License</a>
              </li>
              <li class="list-inline-item">
                <a
                  href="https://github.com/tabler/tabler"
                  target="_blank"
                  class="link-secondary"
                  rel="noopener"
                  >Source code</a
                >
              </li>
              <li class="list-inline-item">
                <a
                  href="https://github.com/sponsors/codecalm"
                  target="_blank"
                  class="link-secondary"
                  rel="noopener"
                >
                  <!-- Download SVG icon from http://tabler-icons.io/i/heart -->
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon text-pink icon-filled icon-inline"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path
                      d="M19.5 13.572l-7.5 7.428l-7.5 -7.428m0 0a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"
                    />
                  </svg>
                  Easy Vote
                </a>
              </li>
            </ul>
          </div>
          <div class="col-12 col-lg-auto mt-3 mt-lg-0">
            <ul class="list-inline list-inline-dots mb-0">
              <li class="list-inline-item">
                Copyright &copy; 2022
                <a href="." class="link-secondary">Easy Vote</a>. All rights
                reserved.
              </li>

            </ul>
          </div>
        </div>
      </div>
    </footer>
    <!-- footer end  -->
      </div>
    </div>
    <!-- body end  -->




    <script src="/javascripts/js/demo.min.js"></script>
    <script src="/javascripts/js/tabler.min.js"></script>
    <script src="/javascripts/js/customize.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
      config = {

        enableTime: true,
        dateFormat: "d F Y h:i:s K",
      }
      flatpickr("input[type=datetime-local]",config);
    </script>
    

  </body>
</html>
