<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
  </head>
  <body>
    <!-- about start  -->
    <div class="card-header">
      <h3 class="card-title">About</h3>
    </div>
    <!-- left side start  -->
    <div class="col-12">
      <div class="card">
        <div class="row row-0">
          <div class="col-12 col-md-4 col-lg-4">
            <img
              src="images/profile.jpg"
              class="w-100 h-100 object-cover"
              alt="Card side image"
            />
          </div>
          <div class="col-12 col-md-8 col-lg-8">
            <div class="card-body">
              <h3 class="card-title">Card with left side image</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aperiam deleniti fugit incidunt, iste, itaque minima neque
                pariatur perferendis sed suscipit velit vitae voluptatem.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- left side end -->
    <!-- right side start  -->
    <div class="col-12">
      <div class="card">
        <div class="row row-0">
          <div class="col-12 col-md-8 col-lg-8">
            <div class="card-body">
              <h3 class="card-title">Card with left side image</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aperiam deleniti fugit incidunt, iste, itaque minima neque
                pariatur perferendis sed suscipit velit vitae voluptatem.
              </p>
            </div>
          </div>
          <div class="col-12 col-md-4 col-lg-4">
            <img
              src="images/profile.jpg"
              class="w-100 h-100 object-cover"
              alt="Card side image"
            />
          </div>
        </div>
      </div>
    </div>
    <!-- right side end -->
    <!-- about end -->
  </body>
</html>
