<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Change Password</title>
    <!-- CSS files -->
    <link href="/stylesheets/css/tabler.min.css" rel="stylesheet" />
    <link href="/stylesheets/css/tabler-flags.min.css" rel="stylesheet" />
    <link href="/stylesheets/css/tabler-payments.min.css" rel="stylesheet" />
    <link href="/stylesheets/css/tabler-vendors.min.css" rel="stylesheet" />
    <link href="/stylesheets/css/demo.min.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
  </head>
  <body class="border-top-wide border-primary d-flex flex-column">
    <div class="page page-center">
      <div class="container-tight py-4">
        <form
          class="card card-md"
          action="/change-password/<%= id %>"
          method="post"
        >
          <div class="card-body">
            <h2 class="card-title text-center mb-4">Change Your Password</h2>
            <div class="mb-2">
              <label class="form-label">
                Old Password
                <!-- <span class="form-label-description">
                  <a href="/forget-password">I forgot password</a>
                </span> -->
              </label>
              <div class="input-group input-group-flat">
                <input
                  id="password1"
                  type="password"
                  name="password1"
                  class="form-control input-box"
                  placeholder=" Old Password"
                  required
                />
                <div
                  toggle="#password1"
                  class="input-group-text fa fa-eye-slash show-hide1 link-secondary"
                ></div>
              </div>
            </div>
            <div class="mb-2">
              <label class="form-label">
                New Password
                <input type="text" value="<%= id %> " name="id" hidden />
              </label>
              <div class="input-group input-group-flat">
                <input
                  id="password"
                  type="password"
                  name="password"
                  class="form-control input-box"
                  placeholder="New Password"
                  required
                />
                <div
                  toggle="#password"
                  class="input-group-text fa fa-eye-slash show-hide link-secondary"
                ></div>
              </div>
            </div>
            <div class="form-footer">
              <input
                class="btn btn-primary w-100"
                type="submit"
                value="Change"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- Libs JS -->
    <!-- Tabler Core -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/javascripts/js/tabler.min.js"></script>
    <script src="/javascripts/js/show-hide.js"></script>
  </body>
</html>
