<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Forgot password</title>
    <!-- CSS files -->
    <link href="/stylesheets/css/tabler.min.css" rel="stylesheet" />
    <link href="/stylesheets/css/tabler-flags.min.css" rel="stylesheet" />
    <link href="/stylesheets/css/tabler-payments.min.css" rel="stylesheet" />
    <link href="/stylesheets/css/tabler-vendors.min.css" rel="stylesheet" />
    <link href="/stylesheets/css/demo.min.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
  </head>
  <body class="border-top-wide border-primary d-flex flex-column">
    <div class="page page-center">
      <div class="container-tight py-4">
        <form class="card card-md" action="/reset-password" method="post">
          <div class="card-body">
            <h2 class="card-title text-center mb-4">Create new password</h2>
            <p class="text-muted mb-4">
              Enter your new password and Login to new password and email
            </p>

            <div class="mb-2">
              <input type="text" name="id" value="<%= id %>" hidden />
              <label class="form-label"> Enter new password </label>
              <div class="input-group input-group-flat">
                <input
                  id="password"
                  type="password"
                  name="password"
                  class="form-control input-box"
                  placeholder="Enter new password"
                  autocomplete="off"
                  required
                />
                <div
                  toggle="#password"
                  class="input-group-text fa fa-eye-slash show-hide link-secondary"
                ></div>
              </div>
            </div>
            <div class="form-footer">
              <input
                type="submit"
                value="Reset Password"
                class="btn btn-primary w-100"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- Libs JS -->
    <!-- Tabler Core -->
    <!-- <script src="./dist/js/tabler.min.js"></script>
    <script src="./dist/js/demo.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/javascripts/js/show-hide.js"></script>
  </body>
</html>
